@font-face {
  font-family: 'HelveticaWorld';
  src: url('./../font/HelveticaWorld.ttf');
  /*
  font-family: 'BebasNeuewebfont';
  src: url('./../font/BebasNeuewebfont.eot');
  src: local('BebasNeuewebfont'), url('./../font/BebasNeuewebfont.woff') format('woff'), url('./../font/BebasNeuewebfont.ttf') format('truetype');
*/
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1962">Text with this font applied</p> */
.fontsforweb_fontid_1962 {
/*  font-family: 'BebasNeuewebfont' !important;
 */
}

/* Font downloaded from FontsForWeb.com */
body{
  font-family: 'HelveticaWorld', 'BebasNeuewebfont', 'Arial Narrow', Arial, sans-serif;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);

}
.slogon {
  text-align: center;
  font-family: 'HelveticaWorld', 'BebasNeuewebfont', 'Arial Narrow', Arial, sans-serif;
  line-height: 40px;
  font-size: 50px; 
  color: rgba(0,0,0,0.6);
  text-shadow: 1px 1px 2px White;

}

.logo {
  text-decoration:none;
  border:2;
  width : 180px;
  height : 200px;
  margin : 10;
  padding : 10; 
}

h1 a {
  display : block;
  height : 113px;
  text-indent : -9999px; 
}

.top-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
width: 100%;
       text-align: left;
       font-family: 'HelveticaWorld', 'BebasNeuewebfont', 'Arial Narrow', Arial, sans-serif;
opacity: 0.9;
}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: 'HelveticaWorld', 'BebasNeuewebfont', 'Arial Narrow', Arial, sans-serif;
  opacity: 0.9;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
