@font-face {
  font-family: 'BebasNeuewebfont';
  src: url('./../font/BebasNeuewebfont.eot');
  src: local('BebasNeuewebfont'), url('./../font/BebasNeuewebfont.woff') format('woff'), url('./../font/BebasNeuewebfont.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1962">Text with this font applied</p> */
.fontsforweb_fontid_1962 {
  font-family: 'BebasNeuewebfont' !important;
}

/* Font downloaded from FontsForWeb.com */
body{
  font-family: 'BebasNeuewebfont', 'Arial Narrow', Arial, sans-serif;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);

}
.slogon {
  text-align: center;
  font-family: 'BebasNeuewebfont', 'Arial Narrow', Arial, sans-serif;
  line-height: 200px;
  font-size: 44px; 
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 4px #000;

}
