#grid1 {
  background: blue;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  /* margin-bottom: 20px;
   */
}

#grid2 {
  background: lightcyan;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

#grid2 .grid-stack-item-content {
  background-color: #9caabc;
}

.grid-stack-item-removing {
  opacity: 0.5;
}

.trash {
  height: 60px;
  width: 150px;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  /* margin-bottom: 20px;
   */
  background: rgba(255, 0, 0, 0.1);
}
.upload{
  height: 60px;
  width: 150px;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  background: rgba(0, 255, 0, 0.1);
}

.upload .grid-stack-item {
  width: 200px;
  height: 100px;
  border: 2px dashed green;
  text-align: center;
  line-height: 100px;
  z-index: 10;
  background: rgba(0, 255, 0, 0.1);
  cursor: default;
  display: inline-block;
}

.upload .grid-stack-item .grid-stack-item-content {
  background: none;
}
